<!DOCTYPE html>
<html>
	<head>
		<title><%= str.title %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<link rel="stylesheet" href="/stylesheets/app.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
		<script src="/javascripts/app.js"></script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="header">
				<h1><%= str.title %></h1>
				<a href="index.html" data-icon="star" class="ui-btn-right"><%= str.editfavs %></a>
			</div>

			<div data-role="content">
				<div class="ui-grid-d favs">
					<% for(var i = 0, n = favs.length; i<n; i++) { %>
						<div class="ui-block-<%= String.fromCharCode(97 + i%5) %>">
							<a type="button" data-theme="c" href="<%= '/channel/'+channels[i].idx %>">
								<span class="title"><%= favs[i].name %></span>
								<div class="logo">
									<img src="images/stations/lores/<%= favs[i].logo %>" />
								</div>
								<span class="epg">20:15 bis 21:45: Herbstkind</span>
							</a>
						</div>
					<% } %>
				</div>
				
				<div class="ui-body ui-body-c ui-btn-corner-all">
					<h1>Alle Sender</h1>
					<ul data-role="listview" data-filter="true" data-filter-placeholder="<%= str.filter %>" data-inset="true" data-autodividers="true" id="channelslist">
						<% for(var i = 0, n = channels.length; i<n; i++) { %>
						<li><a href="<%= '/channel/'+channels[i].idx %>"><%= channels[i].name %></a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>